
@font-face {
  font-family: digital;
  src: url(../fonts/digital/digital-7\ \(mono\).ttf);
}
#cal {
  border: 2px solid #47476b;
  color: white;
  background-color: black;
}
#display-screen {
  font-family: digital;
  font-size: 25px;
  text-align: end;
}
.fomulaScreen {
  color: orange;
}
 #clear {
 background-color: rgb(172, 57, 57);
}
#equals {
  background-color: rgb(0, 68, 102);
}
#add, #divide, #multiply, #subtract, #decimal{
  background-color:rgb(102, 102, 102);;
  outline: 1px solid black;
  font-family: ubuntu;
  cursor: default;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #del{
  background-color: #4d4d4d;
  font-family: Share Tech Mono, monospace;
} 
button {
  border: none;
  outline: 1px solid black;
  color: white;
  cursor: default;
}
button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}
